/* pages/Login.css */
.login-page {
	background-color: var(--highlight-white);
	min-height: 80vh;
}

/* Responsive Design for all pages */
@media (max-width: 768px) {
	.page-hero .display-title {
		font-size: 48px;
	}

	.page-hero .lead-text {
		max-width: 100%;
	}
}
